<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tuan Anh Le Portfolio</title>

    <!-- Favicons -->
    <link href="../assets/img/favicon.png" rel="icon">
    <link href="../assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="../assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="../assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="../assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="../assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  
    <!-- Template Main CSS File -->
    <link href="../assets/css/style.css" rel="stylesheet">
</head>
<body>
    <!-- ======= Mobile nav toggle button ======= -->
    <i class="bi bi-list-nested mobile-nav-toggle d-xl-none"></i>
    <!-- ======= Header ======= -->
    <header id="header">
        <div class="d-flex flex-column">

        <div class="profile">
            <img src="../assets/img/profile-img.jpeg" alt="" class="img-fluid rounded-circle">
            <h1 class="text-light"><a href="index.html">Tuan Anh Le</a></h1>
            <div class="social-links mt-3 text-center">
            <a href="https://github.com/anhtuanle2101" class="github"><i class="bx bxl-github"></i></a>
            <a href="https://www.fiverr.com/tuananhle742" class="fiverr"><i class="bx bxl-facebook"></i></a>
            <a href="https://linkedin.com/in/anhtuanle2101" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
        </div>

        <nav id="navbar" class="nav-menu navbar">
            <ul>
            <li><a href="#hero" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>
            <li><a href="#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>About</span></a></li>
            <li><a href="#resume" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Resume</span></a></li>
            <!-- <li><a href="#portfolio" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>Portfolio</span></a></li>
            <li><a href="#services" class="nav-link scrollto"><i class="bx bx-server"></i> <span>Services</span></a></li> -->
            <li><a href="#contact" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Contact</span></a></li>
            </ul>
        </nav><!-- .nav-menu -->
        </div>
    </header><!-- End Header -->

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
        <div class="hero-container" data-aos="fade-in">
        <h1>Tuan Anh Le</h1>
        <p>I'm a <span class="typed" data-typed-items="Designer, Developer, Freelancer, Gamer"></span></p>
        </div>
    </section><!-- End Hero -->

    <main id="main">
        <!-- ======= About Section ======= -->
        <section id="about" class="about">
        <div class="container">

            <div class="section-title">
            <h2>About</h2>
            <p>
                <ul>
                    <li>
                        Graduated from Georgia State University with the Bachelor of Science degree in 
                        <strong>Computer Science</strong> with GPA as <strong>3.93</strong>.
                    </li>
                    <li>
                        Completed
                        <strong>two internships</strong> as a Web Front-end Intern <a href="https://myinfluency.com/">@MyInfluency</a> and 
                        as a Database Administrator Intern <a href="https://www.ups.com/us/en/Home.page">@UPS</a> Procurement Department within the year of 2021.
                    </li>
                    <li>
                        Continuing learning <a href="https://www.springboard.com">@Springboard</a> <strong>Software Engineer Career Track</strong>  with total of <strong>800</strong> 
                        hours in curriculums on full aspects as a Full-stack Web Develoer.
                    </li>
                </ul>
                 
                
            </p>
            </div>

            <div class="row">
            <div class="col-lg-4" data-aos="fade-up">
                <img src="../assets/img/profile-img.jpeg" class="img-fluid" alt="">
            </div>
            <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
                <h3>Tuan Anh Le </h3>
                <p class="fst-italic">
                    Jr. full-stack developer with proficency in Python, Node.js, React.js and other Web Development Frameworks (Flask, Express, Redux).
                    <span class="d-block">Year of Experience: 1</span>
                </p>
                <div class="row">
                <div class="col-lg-6">
                    <ul>
                    <li><i class="bi bi-phone"></i> <strong>Phone:</strong> <span>+1 (470) 453 - 8219</span></li>
                    <li><i class="bi bi-house"></i> <strong>City:</strong> <span>Clarkston, GA</span></li>
                    <li><i class="bi bi-inbox"></i> <strong>Email:</strong> <span>anhtuanle2101@gmail.com</span></li>
                    </ul>
                </div>
                <div class="col-lg-6">
                    <ul>
                    <li><i class="bi bi-book"></i> <strong>Degree:</strong> <span>Bachelor of Science </span></li>
                    <li><i class="bi bi-bookmark-plus"></i><strong>Major:</strong> <span>Computer Science</span></li>
                    <li><i class="bi bi-person-check"></i> <strong>Freelance:</strong> <span>Available</span></li>
                    </ul>
                </div>
                </div>
                <h5>Note</h5>
                <p>
                    I am currently in the job search for different roles as a software engineer, jr. full-stack developer, or jr. back-end developer in remote or offices near Atlanta.
                </p>
            </div>
            </div>

        </div>
        </section><!-- End About Section -->

        

        <!-- ======= Skills Section ======= -->
        <!-- <section id="skills" class="skills section-bg">
        <div class="container">

            <div class="section-title">
            <h2>Skills</h2>
            <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
            </div>

            <div class="row">
                <div class="col-3">
                    <div class="portfolio-wrap">
                        <img src="assets/img/portfolio/portfolio-1.jpg" class="img-fluid" alt="">
                        <div class="portfolio-links">
                            <a href="assets/img/portfolio/portfolio-1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i class="bx bx-plus"></i></a>
                            <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-3"></div>
                <div class="col-3"></div>
                <div class="col-3"></div>
            </div>

        </div> -->
        <!-- </section>End Skills Section -->

        <!-- ======= Resume Section ======= -->
        <section id="resume" class="resume">
        <div class="container">

            <div class="section-title">
            <h2>Resume</h2>
            <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. 
                Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.
            </p>
            <p>Click here for the updated digital resume: <a href="https://docs.google.com/document/d/1rsUU7KLTDFdFX0jeMpLw2wqAB68t62Vm/edit?usp=sharing&ouid=104492281409634357165&rtpof=true&sd=true">Link</a></p>
            </div>

            <div class="row">
            <div class="col-lg-6" data-aos="fade-up">
                <h3 class="resume-title">Education</h3>
                <div class="resume-item">
                    <h5>Dec 2020 - Sep 2021</h5>
                    <h4>Software Engineer Fellow</h4>
                    <p><em><a href="springboard.com">Springboard.com</a> | Software Engineer Career Track | Online </em></p>
                    <article>
                        Intensive 800-hundreds hours on curriculums cover:
                        <ul class='pt-1'>
                            <li>Frontend Web Development.</li>
                            <li>Backend Web Development & Databases.</li>
                            <li>Varieties of Data Structures and Algorithms Designs.</li>
                            <li>Other modern frameworks (Flask, React, Redux, etc.).</li>
                        </ul>
                        
                    </article>
                    
                </div>
                <div class="resume-item">
                    <h5>Sep 2017 - June 2020</h5>
                    <h4>Georgia State University</h4>
                    <p><em>GPA: 3.93 | College of Arts & Sciences | B.S. in Computer Science | Atlanta, GA</em></p>
                    <ul>
                        <li>Coursework: Data Structures, System Level Programming, Web Programming, Machine Learning, Intro to Algorithms Designs. </li>
                        <li>Achievements: Dean’s List student, President’s List student.</li>
                    </ul>
                </div>
                <div class="resume-item">
                    <h5>Sep 2015 - June 2017</h5>
                    <h4>Peninsula Community College</h4>
                    <p><em>GPA: 3.9 | A.A. in Generals | Port Angeles, WA </em></p>
                    <ul>
                        <li>Coursework: Intro to Computer Science I and II (Java).</li>
                        <li>Achievements: Member of Phi Theta Kappa organization, Receiver of President's Medal.</li>
                    </ul>
                </div>

                <h3 class="resume-title">Projects</h3>
                <div class="resume-item">
                    <h4>Food Finder <a href="https://github.com/anhtuanle2101/Capstone1_Restaurants" class="github"><i class="bx bxl-github"></i></a> <a href="https://food-finder-capstone-1.herokuapp.com"><i class="bx bx-link"></i></a></h4>
                    <p><em>Springboard Capstone Project 
                    </em></p>
                    <p><ul>
                        <li>Designed and Developed an application for looking up restaurants information and recommendations.</li>
                        <li>Front end technologies include HTML, CSS, JavaScript, Bootstrap, Axios.js, Figma Prototyping.</li>
                        <li>Back end technoligies include Python, Flask, PostgreSQL, SQLAlchemy.</li>
                        <li>APIs: Yelp API, Documenu API.</li>
                    </ul></p>
                </div>
                <div class="resume-item">
                    <h4>Warbler <a href="https://github.com/anhtuanle2101/Warbler"><i class="bx bxl-github"></i></a></h4>
                    
                    <p><em>Twitter Clone Project</em></p>
                    <p><ul>
                        <li>Refactored the project, adding unit testing and integration testing to user views, app routes.</li>
                        <li>Researched and implemented new features (`like` a message, edit profile, authentication and authorization)</li>
                    </ul>     
                        </p>
                </div>
            </div>

            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                <h3 class="resume-title">Professional Experience</h3>
                <div class="resume-item">
                    <h5>June 2021 - August 2021</h5>
                    <h4>UPS Procurement Specialist Intern</h4>
                    
                    <p><em> Procurement Department | UPS | Remote </em></p>
                    <ul>
                        <li>Escalated on total of 15 databases-related requests on Solution Center application.</li>
                        <li>Consolidated multiple reports into new reports then migrated them on the front-end application.</li>
                        <li>Handled backing up total of 50 unused tables to a different database server using Microsoft SQL Server Integration Services.</li>
                        <li>Participated in UPS Hack-a-thon on Personal Vehicle Driver solution.</li>
                    </ul>
                </div>
                <div class="resume-item">
                    <h5>July 2020 - Jan 2021</h5>
                    <h4>Front End Web Developer Intern</h4>
                    
                    <p><em><a href="myinfluency.com">MyInfluency</a> | Remote</em></p>
                    <ul>
                        <li>Designed the mockups then implemented front end pages in which used frameworks include Bootstrap, jQuery, Handlebar.js </li>
                        <li>Collaborated with back end team and exposed to back end technologies such as API, routings, Django frameworks, databases.</li>
                        <li>Discussed collectively on new designs with executive leaders and managers in weekly developer meetings.</li>
                    </ul>
                </div>
                <div class="resume-item">
                    <h5>Dec 2015 - June 2017</h5>
                    <h4>Math Lab Tutor</h4>
                    
                    <p><em>Math Lab on Campus | Peninsula Community College | Port Angeles, WA</em></p>
                    <ul>
                        <li>Assisted over 70 students taking Math, Physics, or Chemistry classes from Algebra to Calculus level.</li>
                        <li>Organized and maintained facilities and computers at the office.</li>
                        <li>Collaborated with supervisors to review the student performance and arranged the Science placement tests for new coming students.</li>
                    </ul>
                </div>
            </div>
            </div>

        </div>
        </section><!-- End Resume Section -->

        <!-- ======= Portfolio Section ======= -->
        <!-- <section id="portfolio" class="portfolio section-bg">
        <div class="container">

            <div class="section-title">
            <h2>Portfolio</h2>
            <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
            </div>

            <div class="row" data-aos="fade-up">
            <div class="col-lg-12 d-flex justify-content-center">
                <ul id="portfolio-flters">
                <li data-filter="*" class="filter-active">All</li>
                <li data-filter=".filter-app">Projects</li>
                <li data-filter=".filter-web">Web</li>
                </ul>
            </div>
            </div>

            <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                <img src="assets/img/portfolio/portfolio-1.jpg" class="img-fluid" alt="">
                <div class="portfolio-links">
                    <a href="assets/img/portfolio/portfolio-1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i class="bx bx-plus"></i></a>
                    <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                <div class="portfolio-wrap">
                <img src="assets/img/portfolio/portfolio-2.jpg" class="img-fluid" alt="">
                <div class="portfolio-links">
                    <a href="assets/img/portfolio/portfolio-2.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
                    <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                <img src="assets/img/portfolio/portfolio-3.jpg" class="img-fluid" alt="">
                <div class="portfolio-links">
                    <a href="assets/img/portfolio/portfolio-3.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 2"><i class="bx bx-plus"></i></a>
                    <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                <div class="portfolio-wrap">
                <img src="assets/img/portfolio/portfolio-4.jpg" class="img-fluid" alt="">
                <div class="portfolio-links">
                    <a href="assets/img/portfolio/portfolio-4.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 2"><i class="bx bx-plus"></i></a>
                    <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                <div class="portfolio-wrap">
                <img src="assets/img/portfolio/portfolio-5.jpg" class="img-fluid" alt="">
                <div class="portfolio-links">
                    <a href="assets/img/portfolio/portfolio-5.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 2"><i class="bx bx-plus"></i></a>
                    <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                <img src="assets/img/portfolio/portfolio-6.jpg" class="img-fluid" alt="">
                <div class="portfolio-links">
                    <a href="assets/img/portfolio/portfolio-6.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 3"><i class="bx bx-plus"></i></a>
                    <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                <div class="portfolio-wrap">
                <img src="assets/img/portfolio/portfolio-7.jpg" class="img-fluid" alt="">
                <div class="portfolio-links">
                    <a href="assets/img/portfolio/portfolio-7.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 1"><i class="bx bx-plus"></i></a>
                    <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                <div class="portfolio-wrap">
                <img src="assets/img/portfolio/portfolio-8.jpg" class="img-fluid" alt="">
                <div class="portfolio-links">
                    <a href="assets/img/portfolio/portfolio-8.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 3"><i class="bx bx-plus"></i></a>
                    <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                <div class="portfolio-wrap">
                <img src="assets/img/portfolio/portfolio-9.jpg" class="img-fluid" alt="">
                <div class="portfolio-links">
                    <a href="assets/img/portfolio/portfolio-9.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
                    <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                </div>
                </div>
            </div>

            </div>

        </div> -->
        <!-- </section> -->
        <!-- End Portfolio Section -->

        <!-- ======= Services Section ======= -->
        <!-- <section id="services" class="services">
        <div class="container">

            <div class="section-title">
            <h2>Services</h2>
            <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
            </div>

            <div class="row">
            <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
                <div class="icon"><i class="bi bi-briefcase"></i></div>
                <h4 class="title"><a href="">Lorem Ipsum</a></h4>
                <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
            </div>
            <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                <div class="icon"><i class="bi bi-card-checklist"></i></div>
                <h4 class="title"><a href="">Dolor Sitema</a></h4>
                <p class="description">Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat tarad limino ata</p>
            </div>
            <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                <div class="icon"><i class="bi bi-bar-chart"></i></div>
                <h4 class="title"><a href="">Sed ut perspiciatis</a></h4>
                <p class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
            </div>
            <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                <div class="icon"><i class="bi bi-binoculars"></i></div>
                <h4 class="title"><a href="">Magni Dolores</a></h4>
                <p class="description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
            </div>
            <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
                <div class="icon"><i class="bi bi-brightness-high"></i></div>
                <h4 class="title"><a href="">Nemo Enim</a></h4>
                <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque</p>
            </div>
            <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="500">
                <div class="icon"><i class="bi bi-calendar4-week"></i></div>
                <h4 class="title"><a href="">Eiusmod Tempor</a></h4>
                <p class="description">Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi</p>
            </div>
            </div>

        </div> -->
        <!-- </section>End Services Section -->

        <!-- ======= Testimonials Section ======= -->
        <!-- <section id="testimonials" class="testimonials section-bg">
        <div class="container">

            <div class="section-title">
            <h2>Testimonials</h2>
            <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
            </div>

            <div class="testimonials-slider swiper-container" data-aos="fade-up" data-aos-delay="100">
            <div class="swiper-wrapper">

                <div class="swiper-slide">
                <div class="testimonial-item" data-aos="fade-up">
                    <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                    </p>
                    <img src="assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                    <h3>Saul Goodman</h3>
                    <h4>Ceo &amp; Founder</h4>
                </div>
                </div>

                <div class="swiper-slide">
                <div class="testimonial-item" data-aos="fade-up" data-aos-delay="100">
                    <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                    </p>
                    <img src="assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
                    <h3>Sara Wilsson</h3>
                    <h4>Designer</h4>
                </div>
                </div>

                <div class="swiper-slide">
                <div class="testimonial-item" data-aos="fade-up" data-aos-delay="200">
                    <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                    </p>
                    <img src="assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
                    <h3>Jena Karlis</h3>
                    <h4>Store Owner</h4>
                </div>
                </div>

                <div class="swiper-slide">
                <div class="testimonial-item" data-aos="fade-up" data-aos-delay="300">
                    <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                    </p>
                    <img src="assets/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
                    <h3>Matt Brandon</h3>
                    <h4>Freelancer</h4>
                </div>
                </div><

                <div class="swiper-slide">
                <div class="testimonial-item" data-aos="fade-up" data-aos-delay="400">
                    <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                    </p>
                    <img src="assets/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
                    <h3>John Larson</h3>
                    <h4>Entrepreneur</h4>
                </div> -->
                <!-- </div>

            </div>
            <div class="swiper-pagination"></div>
            </div>

        </div>
        </section>End Testimonials Section -->

        <!-- ======= Contact Section ======= -->
        <section id="contact" class="contact">
        <div class="container">

            <div class="section-title">
            <h2>Contact</h2>
            <!-- <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p> -->
            </div>

            <div class="row" data-aos="fade-in">

            <div class="col-lg-5 d-flex align-items-stretch">
                <div class="info">
                <div class="address">
                    <i class="bi bi-geo-alt"></i>
                    <h4>Location:</h4>
                    <p>4367 Erskine Road, Clarkston GA 30021</p>
                </div>

                <div class="email">
                    <i class="bi bi-envelope"></i>
                    <h4>Email:</h4>
                    <p>anhtuanle2101@gmail.com</p>
                </div>

                <div class="phone">
                    <i class="bi bi-phone"></i>
                    <h4>Call:</h4>
                    <p>+1 470-453-8219</p>
                </div>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3314.780801906944!2d-84.22901858501129!3d33.8179693374873!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88f5a88ab4c04db1%3A0x4672a0fa5dc2a5b6!2s4367%20Erskine%20Rd%2C%20Clarkston%2C%20GA%2030021!5e0!3m2!1sen!2sus!4v1631887601930!5m2!1sen!2sus" style="border:0; width: 100%; height: 290px;" allowfullscreen="" loading="lazy"></iframe>
                <!-- <iframe src="https://www.google.com/maps/place/Clarkston,+GA+30021/@33.8105285,-84.2495042,15z/data=!3m1!4b1!4m5!3m4!1s0x88f5a844fa00a2bf:0x33403e32402d1c64!8m2!3d33.8095487!4d-84.2396434" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe> --> 
                </div>

            </div>

            <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
                <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                <div class="row">
                    <div class="form-group col-md-6">
                    <label for="name">Your Name</label>
                    <input type="text" name="name" class="form-control" id="name" required>
                    </div>
                    <div class="form-group col-md-6">
                    <label for="name">Your Email</label>
                    <input type="email" class="form-control" name="email" id="email" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="name">Subject</label>
                    <input type="text" class="form-control" name="subject" id="subject" required>
                </div>
                <div class="form-group">
                    <label for="name">Message</label>
                    <textarea class="form-control" name="message" rows="10" required></textarea>
                </div>
                <div class="my-3">
                    <div class="loading">Loading</div>
                    <div class="error-message"></div>
                    <div class="sent-message">Your message has been sent. Thank you!</div>
                </div>
                <div class="text-center"><button type="submit">Send Message</button></div>
                </form>
            </div>

            </div>

        </div>
        </section><!-- End Contact Section -->

    </main><!-- End #main -->


    <!-- Vendor JS Files -->
    <script src="../assets/vendor/moment/moment.js"></script>
    <script>
        moment().format();
    </script>
    <script src="../assets/vendor/aos/aos.js"></script>
    <script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="../assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="../assets/vendor/php-email-form/validate.js"></script>
    <script src="../assets/vendor/purecounter/purecounter.js"></script>
    <script src="../assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="../assets/vendor/typed.js/typed.min.js"></script>
    <script src="../assets/vendor/waypoints/noframework.waypoints.js"></script>

    <!-- Template Main JS File -->
    <script src="../assets/js/main.js"></script>
</body>
</html>